// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



 body {
   background-color: rgb(55, 193, 235);
 }

 #get-input {
  color: rgb(240,240,240);
  padding: 12px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 16px;

 }

p {
  color: white; 
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding: 8px;
  text-align: center;
  margin-top: 0px;
 }


 #coach {
  color: rgb(59, 59, 59); 
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding: 8px;
  text-align: center;
  margin-top: 0px;  
 }

 #btn-primary {
  background-color: #555555;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  margin-left: 20px;
}

#link {
  color: white; 
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding: 8px;
  text-align: center;
  margin-top: 0px;
  text-decoration: none;
  align-items: center;
}

a {
  text-decoration: none;
  color: black; 
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: rgb(240,240,240);
  padding: 6px;
  border: 1px solid white;
  font-weight: lighter;
}

a:hover {
  background-color: grey;
  

}